.Products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    padding: 20px;
    height: 74vh;
    overflow: auto;
}

@media (max-width: 1024px) {
    .Products {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .Products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .Products {
        grid-template-columns: 1fr;
    }
}
